<div class="section">
  <div class="text-section">
    <p class="text-p-focus scp-font">Hi, my name is</p>
    <h1 class="text-h1">Simone Rotundo.</h1>
    <h3 class="text-h3">I'm a CS student.</h3>
    <p class="text-p-normal scp-font">I'm a computer science student with a strong <br> interest in <span class="text-p-focus">web development</span> and <span class="text-p-focus">AI</span>.</p>
  </div>
</div>

<!--
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
-->
