<nav class="navbar">
  <div class="navbar-brand">
    <a href="#"></a>
  </div>
  <div class="navbar-menu">
    <a class="navbar-link text-p-normal"><span class="text-p-focus scp-font one-sp-right">01.</span>About</a>
    <a class="navbar-link text-p-normal"><span class="text-p-focus scp-font one-sp-right">02.</span>Projects</a>
    <a class="navbar-link text-p-normal"><span class="text-p-focus scp-font one-sp-right">03.</span>Contact</a>
    <button class="text-p-focus focus-button focus-button-margin">Resume</button>
  </div>
</nav>
