<!-- SOCIAL NETWORK SECTION - LEFT SIDE -->
<div class="social-section">
  <a href="https://github.com/simonerotundo" target="_blank"
  ><img
    src="../../assets/images/social%20networks/github.png"
    alt="github logo"
    class="social-network-icon"
  /></a>
  <a href="https://www.instagram.com/simone.rotundo_/" target="_blank"
  ><img
    src="../../assets/images/social%20networks/instagram.png"
    alt="github logo"
    class="social-network-icon"
  /></a>
  <a href="https://www.linkedin.com/in/simone-rotundo/" target="_blank"
  ><img
    src="../../assets/images/social%20networks/linkedin.png"
    alt="github logo"
    class="social-network-icon"
  /></a>
  <div class="bar-decoration"></div>
</div>

<!-- EMAIL SECTION - RIGHT SIDE -->
<div class="email-section">
  <a href="mailto:simone1377.rotundo@gmail.com" class="no-link-decoration scp-font email">simone1377.rotundo@gmail.com</a>
  <div class="bar-decoration"></div>
</div>
